{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 5em">
  <div class="columns">
    <div class="column is-8 is-offset-2">

      <div class="box content">
        <h3>
          {% if user-content.basket-title %}
          {{ user-content.basket-title }}
          {% else %}
          Votre panier
          {% endif %}
        </h3>

        <div>

          {% if user-content.basket-text %}
          {{ user-content.basket-text | safe }}
          {% endif %}

          <div style="text-align: right; margin-top: 2em">
            Total de votre commande: <strong id="total"> 0</strong> <strong>€</strong>
          </div>
        </div>

        {% if user-content.basket-show-validation-form %}
        {% include  validation-form-template %}
        {% endif %}

      </div>

      {% for card in cards %}
      <div name="cardid" data-id="{{ card.id }}" id="card{{ card.id }}" class="box content">
	<article class="post">
	  <div class="media">
	    <div class="media-left">
	      <p class="image is-64x64">
            {% if card.cover %}
              <img src="{{ card.cover }}" alt="Couverture de {{ card.title }}"/>
            {% else %}
              <img src="/static/img/no_cover.png" alt="Pas de couverture"/>
            {% endif %}
	      </p>
	    </div>
	    <div class="media-content">
	      <div class="content">
                <h4> {{ card.title }} </h4>
		<p>
                  <span> {{ card.author }} </span>
		  <span class="tag"> {{ card.shelf }} </span>
                  <span> {{ card.publisher | capfirst }} </span>
		</p>
	      </div>
	    </div>
	    <div class="media-right">
	      <span name="price" data-price="{{ card.price }}" class="has-text-grey-light"> {{ card.price | price }} €</span>
              <span  class="icon is-small" style="cursor: pointer;" title="Ajouter au panier" onclick="basketremove({{ card.id }})">
                <i class="delete is-small"></i>
              </span>
	    </div>
	  </div>
	</article>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
  function totalprice () {
    let prices = document.getElementsByName("price");
    let total = 0.0;
    for (var i = 0; i < prices.length; i++) {
      let val = prices[i].dataset.price;
      if (val) {
        val = parseFloat(val);
        total += val * 100;
      }
    }
    let elt_total = document.getElementById("total");
    elt_total.innerText = total / 100;
  }

  totalprice();

  function basketremove (id) {
    let idtag = "card" + id;
    let elt = document.getElementById(idtag);
    // Remove element.
    if (elt) {
      elt.remove();
      console.log("-- card removed.");
    }

    // Update the total price.
    totalprice();

    // "remove" from local storage (recompute all).
    let idelts = document.getElementsByName("cardid");
    let ids_string = "";
    for (var i = 0; i < idelts.length; i++) {
      let id = idelts[i].dataset.id;
      ids_string = ids_string + id + ",";
    }
    window.localStorage.setItem("savedcardids", ids_string);
    console.log("-- saved ids are now: ", window.localStorage.getItem("savedcardids"));

    // update hidden form field.
    insert_hidden_ids();
  }

  function insert_hidden_ids () {
    let ids = window.localStorage.getItem("savedcardids");
    if (ids) {
      let elt = document.getElementById("formids");
      elt.value = ids;
    }
  }

  insert_hidden_ids();
</script>

{% endblock %}
